<a href="https://colab.research.google.com/github/faustolucena/aulas/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dic = {'Pedro': {'Prova 1': 5.4, 'Prova 3': 7.9},
                'Ana': {'Prova 1': 8.5, 'Prova 2': 9.7, 'Prova 3': 6.6},
               'Luna': {'Prova 2': 5.0, 'Prova 3': 7.0, 'Prova 4': 6.0}
             }

In [5]:
df = pd.DataFrame(dic)
df

         Pedro  Ana  Luna
Prova 1    5.4  8.5   NaN
Prova 3    7.9  6.6   7.0
Prova 2    NaN  9.7   5.0
Prova 4    NaN  NaN   6.0

In [6]:
df.index.name = 'Prova'
df.columns.name = 'Aluno'
df

Aluno    Pedro  Ana  Luna
Prova
Prova 1    5.4  8.5   NaN
Prova 3    7.9  6.6   7.0
Prova 2    NaN  9.7   5.0
Prova 4    NaN  NaN   6.0

In [7]:
df.isnull()

Aluno    Pedro    Ana   Luna
Prova
Prova 1  False  False   True
Prova 3  False  False  False
Prova 2   True  False  False
Prova 4   True   True  False

In [8]:
df.isnull().sum()

Aluno
Pedro    2
Ana      1
Luna     1
dtype: int64

In [10]:
df.columns

Index(['Pedro', 'Ana', 'Luna'], dtype='object', name='Aluno')

In [11]:
df.index

Index(['Prova 1', 'Prova 3', 'Prova 2', 'Prova 4'], dtype='object', name='Prova')

In [15]:
'Ana'in df.index

False

In [24]:
serie1 = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])
serie2 = pd.Series([5, 6, 7, 8], index = ['a', 'b', 'c', 'd'])
serie3 = pd.Series([9, 10, 11, 12], index = ['a','b', 'c', 'd'])
print(serie1)
print(serie2)
print(serie3)
dic = {'A':serie1,
       'B':serie2,
       'C':serie3}
pd.DataFrame(dic)

a    1
b    2
c    3
d    4
dtype: int64
a    5
b    6
c    7
d    8
dtype: int64
a     9
b    10
c    11
d    12
dtype: int64

   A  B   C
a  1  5   9
b  2  6  10
c  3  7  11
d  4  8  12

In [59]:
import pandas as pd
import numpy as np
url =('https://raw.githubusercontent.com/jennybc/'
      'gapminder/master/data-raw/08_gap-every-five-years.tsv')
dfPaises = pd.read_csv(url, sep='\t')
dfPaises.shape

(1704, 6)

In [33]:
dfPaises.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [60]:
dfPaises.rename(columns={'country':'Pais',
                         'continent':'Continente',
                         'year':'Ano',
                         'lifeExp':'ExpVida',
                         'pop':'População',
                         'gdpPercap':'PibPerCap'}, inplace = True)
dfPaises.head()

          Pais Continente   Ano  ExpVida  População   PibPerCap
0  Afghanistan       Asia  1952   28.801    8425333  779.445314
1  Afghanistan       Asia  1957   30.332    9240934  820.853030
2  Afghanistan       Asia  1962   31.997   10267083  853.100710
3  Afghanistan       Asia  1967   34.020   11537966  836.197138
4  Afghanistan       Asia  1972   36.088   13079460  739.981106

In [39]:
dfPaises.columns

Index(['Pais', 'Continente', 'Ano', 'ExpVida', 'População', 'PibPerCap'], dtype='object')

In [61]:
dfPaises = dfPaises[['Continente', 'Pais', 'Ano','ExpVida','População','PibPerCap']]

In [42]:
dfPaises.head()

  Continente         Pais   Ano  ExpVida  População   PibPerCap
0       Asia  Afghanistan  1952   28.801    8425333  779.445314
1       Asia  Afghanistan  1957   30.332    9240934  820.853030
2       Asia  Afghanistan  1962   31.997   10267083  853.100710
3       Asia  Afghanistan  1967   34.020   11537966  836.197138
4       Asia  Afghanistan  1972   36.088   13079460  739.981106

In [43]:
dfPaises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Continente  1704 non-null   object
 1   Pais        1704 non-null   object
 2   Ano         1704 non-null   int64
 3   ExpVida     1704 non-null   float64
 4   População   1704 non-null   int64
 5   PibPerCap   1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [45]:
dfPaises.describe()

              Ano      ExpVida     População      PibPerCap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [58]:
pd.to_pickle(dfPaises, './dataframePaises.pkl') 
del dfPaises

NameError: ignored

In [57]:
pd.read_pickle('./dataframePaises.pkl')

     Continente         Pais   Ano  ExpVida  População   PibPerCap
0          Asia  Afghanistan  1952   28.801    8425333  779.445314
1          Asia  Afghanistan  1957   30.332    9240934  820.853030
2          Asia  Afghanistan  1962   31.997   10267083  853.100710
3          Asia  Afghanistan  1967   34.020   11537966  836.197138
4          Asia  Afghanistan  1972   36.088   13079460  739.981106
...         ...          ...   ...      ...        ...         ...
1699     Africa     Zimbabwe  1987   62.351    9216418  706.157306
1700     Africa     Zimbabwe  1992   60.377   10704340  693.420786
1701     Africa     Zimbabwe  1997   46.809   11404948  792.449960
1702     Africa     Zimbabwe  2002   39.989   11926563  672.038623
1703     Africa     Zimbabwe  2007   43.487   12311143  469.709298

[1704 rows x 6 columns]

In [88]:
df1 = dfPaises.loc[:,'Ano']

In [89]:
df1

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: Ano, Length: 1704, dtype: int64